.idea/
__pycache__/
*.npy
.ipynb_checkpoints/
logs/
build/
dist/
TF_RL.egg-info
*.pyc
tf_rl/examples/Research/
tf_rl/examples/Policy_Eval_lab/
tf_rl/test/video/
*.mp4
*.meta.json
tf_rl/examples/DDPG/video/
tf_rl/examples/DDPG/models/
result/result_transformer/result_graphs/
tf_rl/test/For_Writing_Utils_test/images/
tf_rl/test/Recording_test/video/
/tf_rl/test/Continuous_GridWorld/images/
video
tmp
traj
saved_models